* {
  box-sizing: border-box;
}
body{
  background-image: url("../img/concrete_seamless.png");
}
header {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}
.header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(206, 202, 202);
  border-top: 1px solid rgb(206, 202, 202);
  height: 70px;
}
.header-info {
  width: 50%;
  float: left;
}
.header-info-name {
  margin: 0 auto;
  background-color: rgb(43, 161, 161);
  font: bold 22px tahoma;
  color: white;
  text-align: center;
  width: 200px;
  height: 68px;
  padding-top: 20px;
  cursor: pointer;
}
.nav {
  width: 50%;
  float: left;
}
.nav-center {
  width: 250px;
  margin: 0 auto;
}
.nav-center ul li {
  float: left;
}
.nav-center ul li a {
  display: block;
  text-decoration: none;
  font: normal 15px tahoma;
  color: rgb(165, 165, 165);
  padding-left: 14px;
  text-align: right;
  margin-top: 25px;
}
.Portfolio,
.Contact {
  border-left: 1px solid gainsboro;
  margin-left: 14px;
}
main {
  height: 420px;
  width: 100%;
}
.main-center{
    width: 70%;
    margin: 0 auto;
    height: 390px;
    background-color: white;
}
.footer {
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  border-top: 8px solid rgb(46, 168, 168);
  background-color: rgb(80, 79, 79);
  color: rgba(228, 225, 225, 0.74);
  height: 90px;
  padding-top: 40px;
}